@page "/fetchdatafromapi"
@inject HttpClient HttpClient
@using JsonPlaceholder.Adapter.Models;


<h1>Json placeholder users</h1>

<BlazorDemo.Shared.JsonPlacehodlerUsersTable Title="Users fetch from API using external client" Users=usersFetchByExternalClient />
<BlazorDemo.Shared.JsonPlacehodlerUsersTable Title="Users fetch from API using Blazor Http Client" Users=usersFetchByBlazorHttpClient />


@code {

    private List<User> usersFetchByExternalClient = new List<User>();
    private List<User> usersFetchByBlazorHttpClient = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        usersFetchByExternalClient = await JsonPlaceholder.Adapter.Client.GetUsersAsync();
        usersFetchByBlazorHttpClient = await HttpClient.GetFromJsonAsync<List<User>>("https://jsonplaceholder.typicode.com/users");

    }

}

